*{
  margin: 0;
  padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 14px;


}

marquee{

  font-size: 22px;
  font-weight: bold;
  background-color: #20262E;
  color:#CF0A0A;
  margin-top: 0px;
  width: 600px;
  margin-left: 410px;
  border-radius: 0px 0px 12px 12px ;
  font-variant: small-caps;
}


.wrapper{
  margin: 0px auto;
  width: 100%;

}


.main{
  width: 100%;
  float:left;
  height: 100vh;
  background-image:url(111.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.nav{
  float: left;
  display:block;
  background-color: rgba(110,110,73);
  width: 100%;
  height: 70px;

  box-shadow: 0px 9px 22px grey;


}

li{
  float: left;
  color: white;
  margin-top: 23px;
  margin-left: 26px;



}

.login{

    font-size: 17px;
  margin-left: 12px;
  font-weight: bolder;
  text-decoration: none;
  color:  #517D99;
  background-color:#C5E99B;
  padding: 12px;
  font-family: sans-serif;
  border-radius: 12px;
  transition: .9s;



}

.SINGIN{
  font-size: 17px;

    font-weight: bolder;
  text-decoration: none;
  color:  #517D99;
  background-color:#C5E99B;
  border-radius: 12px;
  transition: .9s;
  margin-RIGHT: 1PX;
  padding: 11px;

}

.nnn{
  float: left;
  margin-top: 6px;
  margin-left: 870px;
  font-size: 13px;
  list-style-type: none;


}



.login:hover{
  background-color: #BFE9DB;

  transition: .1s;

}


.login:active{
  color: white;
}


.SINGIN:hover{
  background-color: #BFE9DB;

  transition: .1s;
}


.SINGIN:active{
  color: white;
}

li{
  list-style-type: none;
  float: left;

}

.LOGO{
  border-left: 21px double yellow;
  padding-left: 11px;
  font-size: 24px;
  float: left;
  margin-top: 19px;
  font-weight: bolder;
  font-family:     cursive   ;
}



img{
  margin-top: -40px;
  margin-left: 120px;
  width: 190px;
  size:12px;



}

h1{
  color:white;
  text-shadow: 2px 3px 5px black;
  font-size: 40px;
  margin-top: -39px;
  margin-left: 49px;

  padding: 1px;
}



form{
  margin-left: 980px;
      margin-top: 24px;
      color: white;

      text-shadow: 2px 3px 5px black;
    box-shadow: 6px 18px 22px black;



      border-left: 12px solid red;
      border-right: 12px solid red;

}
.form{
  background-color:rgba(9, 8, 38, 0.4);
  border-radius: 23px;
  width: 420px;
  height: 523px;


}

label{
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

input,label{
  margin-top: 10px;

    margin-left: 16px;

}



input{
  margin-left: 16px;
  width: 368px;
  height: 40px;
  border-style:none;
  font-size: 18px;
  padding-left: 12px;
  color: black;
  background: rgba(255, 255, 255,0.5);
  border-radius: 3px;

  transition: ALL .8S;


}

input:hover{
  background-color: WHITE;
  transition: ALL .7S;

}



.check{
  margin-top: 10px;
  margin-left: 38px;
  width: 20px;
  cursor: pointer;

}



.a{
  margin-top: -33px;
  margin-left: 70px;

}

.b{
  margin-top: -16px;
  margin-left: 270px;

}
.button{

      margin-left: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 28px;
    border-style: none;
    width: 380px;
    height: 40px;
    color: ;
    background-color:rgba(255,120,0,0.5);
    transition: ALL .8s;




  }





.button:hover
{
  background-color: rgba(255,120,0,0.9);
  transition:   all .9s;
  color: white;



}




.copy{
  margin-top: 10px;
  margin-left:80px;
}


.chec{
  text-decoration: none;
  color:rgba(255,255,255,.5) ;
  font-size: 19px;
  transition:   all .9s;
  border:1px none red;
  padding-left:  160px;
  padding-right:160px ;
  padding-top:8px ;
  padding-bottom:8px;
  border-radius: 8px;



}

.chec:hover{
  color:white;
}


.forget{
  color:rgba(255,255,255,.7) ;
  transition:   all .9s;


}

.forget:hover{
  color:white;
  transition:   all .9s;

}


.button{
  border-radius: 3px;

}

.peragraphe{

  margin-top: 12px;
  margin-left: 75px;
}

.hea{
  text-transform: capitalize;
  margin-top: -540px;
  margin-left: 190px;
  font-size: 60px;
  font-weight: bolder;
  color: tomato;
  padding: 17px;
  width: 350px;
  height: 52px;
  border-radius: 12px 12px 0px 0px;
  background-color:rgba(12,23,23,0.6);
  text-shadow: 9px 8px 9px black;
}

.pera{
  line-height: 43px;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-family:  monospace;
  padding: 12px;
  width: 397px;

  padding: 19px;
  border-radius:  12px 12px  12px 12px;
  background-color:rgba(12,23,23,0.6);

  text-align:center;
  width: 500px;
  margin-left: 100px;
  color: white;

}

.hr{
  margin-top: 20px;
  margin-left: 70px;
  width:  590px;
  border:5px solid blue;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

}

.hs{

    margin-top: 0px;
    margin-left: 70px;
    width: 590px;
    border:5px solid black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;



  }


.footer{
  background-color: rgba(9,9,13,.9);
  color: white;
  position: absolute;
  top: 670px;
  right: 1px;
  width:1519px;
  height: 358px;


}

.head{
  margin-top: 12px;

}

table{

  margin-top: 32px;
  padding: 0px 12px 12px 21px;
  margin-left: 200px;
  font-size: 12px;
  line-height:-5px;
  padding-left:120px;
  border-spacing: 12px;
  text-align: center;


}

.too{
       color: grey;
       text-align: left;
       font-weight: lighter;
       font-variant: uppercase;


       padding: 24px;
       font-size: 23px;

}


.hrr{
  margin-top: 325px;
  margin-left: 30px;
  width: 1440px;
  border:1px solid grey ;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  opacity: .7;



}
.ppp{
  color: white;
  font-size: 17px;
  margin-left: 380px;
}
